<div class="well">
  <h1>Corgi</h1>
  <table border="1">
    <tr>
      <td>
         <%= link_to "Apps", apps_path%></br>
      </td>
    </tr>

      <tr>
      <td>
         <%= link_to "Services", services_path %></br>
      </td>
    </tr>

      <tr>
      <td>
         <%= link_to "Accounts" %></br>
      </td>
    </tr>

      <tr>
      <td>
         <%= link_to "Company"%></br>
      </td>
    </tr>

    <tr>
      <td>
         <%= link_to "Support" %></br>
      </td>
    </tr>

   
  </table>

</div>

